/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_11_2022_13_47_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_11_2022_13_47_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_11_2022_13_47_[Changes]2/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_11_2022_20_39_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Merge_at_27_11_2022_22_22_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_11_2022_13_47__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_11_2022_13_47__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_11_2022_13_47__Changes_2.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_11_2022_20_39__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Merge_at_27_11_2022_22_22__Changes_.xml
